.viewpdf-file-modal {
    .modal-dialog {
        width: 100%;
    }

    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 540px;
        }
    }

    @media (min-width: 768px) {
        .modal-dialog {
            max-width: 720px;
        }
    }

    @media (min-width: 992px) {
        .modal-dialog {
            max-width: 960px;
        }
    }

    @media (min-width: 1200px) {
        .modal-dialog {
            max-width: 1000px;
        }
    }

    @media (min-width: 1366px) {
        .modal-dialog {
            max-width: 1000px;
        }
    }

    @media (min-width: 1600px) {
        .modal-dialog {
            max-width: 1000px;
        }
    }

    @media (min-width: 1920px) {
        .modal-dialog {
            max-width: 1000px;
        }
    }

    .ng2-pdf-viewer-container {
        border: 1px solid #f1f1f1;
    }

    .page-content {
        display: flex !important;
        padding-top: 10px !important;
    }
    // Start css menu left

    .content-search-left .dx-treelist-rowsview .dx-selection.dx-row > td {
        background-color: inherit;
    }
    .search-left-title {
        background: white;
        padding: 0 5px;
        border: 1px solid #e6e3e3;
    }

    .search-left {
        width: 280px;
        float: left;
        max-width: 280px;
        min-width: 280px;
        margin-right: 10px;
        background: #fff;
        // padding: 0 10px;
    }
    .body-right {
        width: 100%;
        overflow-x: hidden;
        //background-color: #ffffff;
    }
    // End css menu left
}
