<div class='content-wrapper'>
    <section class="box">
        <header style="padding-top: 2px;">
            <h2 class="title">Danh sách nhân viên</h2>
            <div class="actions">
                <button *appUipermission="['F0160']" type="button" class="btn btn-success"
                    (click)="showCreateUpdate('')" container="body">
                    <i class="fa fa-plus"></i>
                    Thêm mới
                </button>
            </div>
        </header>
        <div class="content-body" style="height: 100%;">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-lg-12">
                    <div class="table-container">
                        <perfect-scrollbar class=" ps-bordered table table-bordered" [config]="constant.ScrollXConfig"
                            style="height:auto; width:100%;">
                            <table class="table table-bordered table-tr-fixed" style="min-width:1100px">
                                <thead>
                                    <tr>
                                        <th width="50px" class="text-center">{{'STT' | translate}}</th>
                                        <th width="150px" class="text-center">{{'Xử lý' | translate}}</th>
                                        <th width="150px" class="text-center">Mã nhân viên</th>
                                        <th min-width="260px" class="text-center">Tên nhân viên</th>
                                        <th width="150px" class="text-center">Tên chức danh</th>
                                        <th width="200px" class="text-center">Tên phòng ban</th>
                                        <th width="260px" class="text-center">Email</th>
                                        <th width="160px" class="text-center">Ngày sinh</th>
                                        <th width="260px" class="text-center">Địa chỉ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of listNhanVien; let i = index">
                                        <td class="text-center">{{startIndex+i}}</td>
                                        <td class="text-center">
                                            <ng-container>
                                                <button type="button" class="btn btn-xs btn-success"
                                                    ngbTooltip="{{'SharedLabel.Detail' | translate}}"
                                                    (click)="showView(row.id)" *appUipermission="['F0165']">
                                                    <span class="fas fa-eye" aria-hidden="true"></span>
                                                </button>
                                                <button type="button" (click)='showCreateUpdate(row.id)'
                                                    class="btn btn-xs btn-warning" placement="bottom"
                                                    ngbTooltip="{{'SharedLabel.Update' | translate}}" container="body"
                                                    container="body" *appUipermission="['F0160','F0163']">
                                                    <span class="fa fa-edit" aria-hidden="true"></span>
                                                </button>
                                                <button class="btn btn-xs btn-success" *appUipermission="['F0164']"
                                                    (click)="addVideo(row.id, row.maNhanVien)" placement="bottom"
                                                    ngbTooltip="{{'Thêm khuôn mặt' | translate}}" container="body">
                                                    <span class="fas fa-plus" aria-hidden="true"></span>
                                                </button>
                                                <button class="btn btn-xs btn-danger" *appUipermission="['F0164']"
                                                    (click)="showConfirmDelete(row.id, row.maNhanVien)" placement="bottom"
                                                    ngbTooltip="{{'SharedLabel.Delete' | translate}}" container="body">
                                                    <span class="fas fa-times" aria-hidden="true"></span>
                                                </button>
                                            </ng-container>
                                        </td>
                                        <td class="text-left">{{row.maNhanVien}}</td>
                                        <td class="text-left">{{row.tenNhanVien}}</td>
                                        <td class="text-left">{{row.tenChucDanh}}</td>
                                        <td class="text-left">{{row.tenPhongBan}}</td>
                                        <td class="text-left">{{row.email}}</td>
                                        <td class="text-center">{{row.dob|date:'dd/MM/yyyy'}}</td>
                                        <td class="text-left">{{row.diaChi}}</td>

                                    </tr>
                                </tbody>
                                <tfoot *ngIf="listNhanVien.length == 0">
                                    <tr class="bold">
                                        <td colspan="9" class="text-center image-no-data">
                                            <div>
                                                <img src="./assets/img/no-data.png">
                                                <div>
                                                    {{'SharedLabel.NotData' | translate}}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </perfect-scrollbar>
                    </div>
                </div>
            </div>
            <div class="row mt-3" *ngIf="listNhanVien.length != 0">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 d-flex justify-content-start">
                    <div class="controls ">
                        <select class="form-control" style="border: 1px solid #ddd;" [(ngModel)]="searchModel.pageSize"
                            (ngModelChange)="search()" name="pageSize">
                            <option *ngFor="let item of constant.ListPageSize" [value]="item">{{item}}</option>
                        </select>
                    </div>
                    <label class="form-label " style="padding:4px;">{{'Số lượng / Trang' | translate}}</label>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12  d-flex justify-content-end">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="searchModel.pageNumber"
                        (pageChange)="search()" [pageSize]="searchModel.pageSize" [maxSize]="5" [rotate]="true"
                        [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-view btn-success">
                        <i class="fas fa-plus"></i>
                    </button>&nbsp;
                    <small class="padding-right-20">{{'Thêm mới' | translate}}</small>
                    <button class="btn btn-view btn-warning">
                        <i class="fas fa-edit"></i>
                    </button>&nbsp;
                    <small class="padding-right-20">{{'SharedLabel.Update' | translate}}</small>
                    <button class="btn btn-view btn-danger">
                        <i class="fas fa-times"></i>
                    </button>&nbsp;
                    <small class="padding-right-20">{{'SharedLabel.Delete' | translate}}</small>
                    <button class="btn btn-view btn-success">
                        <i class="fas fa-eye"></i>
                    </button>&nbsp;
                    <small class="padding-right-20">{{'SharedLabel.Detail' | translate}}</small>
                </div>
            </div>
        </div>
    </section>
</div>