<div class="modal-header">
    <h4 class="modal-title text-uppercase">{{modalInfo.Title}}</h4>
    <a href="javascript:void(0)" class="close_modal" type="button" class="close" aria-label="Close"
        (click)="closeModal(false)">
        <span aria-hidden="true">&times;</span>
    </a>
</div>
<div class="modal-body padding-15">
    <form name="form" #f="ngForm">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group ">
                    <label class="form-label">{{'UserGroup.Name' | translate}}
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label>
                    <div class="controls">
                        <input type="text" class="form-control" [(ngModel)]="model.name" name="GroupUserName"
                            maxlength="150" required>
                    </div>
                </div>
            </div>
            <!-- <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group ">
                    <label class="form-label">{{'UserGroup.Type' | translate}}
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label>
                    <div class="controls">
                        <ng-select [items]="listNhom" bindLabel="name" bindValue="id" [(ngModel)]="model.type"
                            name="type" required>
                        </ng-select>
                    </div>
                </div>
            </div> -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group ">
                    <label class="form-label">{{'UserGroup.Description' | translate}}
                    </label>
                    <div class="controls">
                        <textarea class="form-control" [(ngModel)]="model.description" name="Description" rows="3"
                            maxlength="500"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <label class="form-label"><b>{{'UserGroup.FunctionPermission' | translate}}</b></label>
            </div>
            <div class="col-md-6" #scrollPracticeMaterial>
                <div class="row">
                    <div class="col-md-12">
                        <ejs-treegrid #treegrid [dataSource]='model.listPermission' [treeColumnIndex]='0'
                            [style.height.px]="height" style="min-height: 150;" [enableHover]='false'
                            (rowSelected)="rowGroupSelected($event)" childMapping='children' gridLines="Both">
                            <e-columns>
                                <e-column field='name' headerText='Tên nhóm chức năng' textAlign='left'
                                    minwidth=400></e-column>
                                <e-column headerText='Quyền/Tổng quyền' textAlign='center' width=150>
                                    <ng-template #template let-data>
                                        <ng-container *ngIf="data.children.length==0">
                                            <b class="text-success">{{data.checkCount}}</b> /
                                            <b class="text-secondary">{{data.permissionTotal}}</b>
                                        </ng-container>
                                    </ng-template>
                                </e-column>
                            </e-columns>
                        </ejs-treegrid>
                    </div>
                </div>
            </div>

            <div class="col-md-6 padding-left-0" #scrollPermession>
                <div class="row">
                    <div class="col-md-12" #scrollPermessionHeader
                        style="padding-bottom: 5px; overflow-x: auto;overflow: hidden;">
                        <table class="table table-bordered" style="margin-bottom:0px !important; min-width: 150px;">
                            <thead>
                                <tr>
                                    <th width="50px" style="min-width: 50px;max-width: 50px;" class="text-center">
                                        <input type="checkbox" [(ngModel)]="checkAll" name="selectAll"
                                            (change)="selectAll()" style="height:20px; width:20px;"
                                            *ngIf="listPermission.length>0">
                                    </th>
                                    <th width="100px" style="min-width: 100px;max-width: 100px;" class="center">
                                        {{'User.PermissionCode' | translate}}</th>
                                    <th min-width="100px" class="center">{{'User.FunctionName' | translate}}
                                    </th>
                                </tr>
                            </thead>
                        </table>
                        <perfect-scrollbar class="ps-bordered" [config]="constant.ScrollConfig"
                            [style.height.px]="height + 11">
                            <table class="table table-bordered" style="min-width:150px">
                                <tbody>
                                    <ng-container>
                                        <tr *ngFor="let row of listPermission; let i= index">
                                            <td width="50px" class="text-center" style="padding-top: 10px;">
                                                <input type="checkbox" [(ngModel)]="row.isChecked"
                                                    name="{{'isChecked'+i}}" style="height:20px; width:20px;"
                                                    (ngModelChange)="checkItem(row)">
                                            </td>
                                            <td width="100px" style="min-width: 100px;max-width: 100px;">
                                                <a><span>{{row.code}}</span></a>
                                            </td>
                                            <td min-width="100px">
                                                <a><span>{{row.name}}</span></a>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </perfect-scrollbar>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <ng-container>
        <button type="button" *appUipermission="['F0111','F0112']" class="btn btn-success" [disabled]="!f.form.valid"
            (click)="save(false)">
            <i class="fa fa-save"></i>&nbsp;
            <span>{{'Lưu' | translate}}</span>
        </button>
    </ng-container>
    <ng-container *ngIf="!id">
        <button type="button" *appUipermission="['F0111']" class="btn btn-success" [disabled]="!f.form.valid"
            (click)="saveAndContinue()">
            <i class="fa fa-save"></i>&nbsp;
            <span>{{'SharedLabel.SaveAndContinue' | translate}}</span>
        </button>
    </ng-container>
    <button type="button" class="btn btn-danger" (click)="closeModal(false)">
        <i class="fa fa-power-off"></i> &nbsp;
        <span>
            {{'Đóng' | translate}}
        </span>
    </button>
</div>