.title-text {
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

.row-content {
  display: flex;
  justify-content: space-between;
  /* padding: 0px 17px; */
  padding: 10px 15px;
}

.bg-title-header {
  background: #f2f2f2;
}
.input-element {
  width: 80px;
  text-align: center;
  font-size: 14px;
  padding: 6px 6px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
}
.time-input {
  color: #333;
  display: flex;
  gap: 5px;
  align-items: center;
}
