<div class="modal-header">
    <h4 class="modal-title text-uppercase">{{modalInfo.Title}}</h4>
    <a href="javascript:void(0)" class="close_modal" type="button" class="close" aria-label="Close"
        (click)="closeModal(false)"><span aria-hidden="true">&times;</span>
    </a>
</div>
<div class="modal-body padding-15">
    <form name="form" #f="ngForm">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group ">
                    <label class="form-label">Tên chức danh<span class='text-danger text-strong'>&nbsp;*</span></label>
                    <div class="controls">
                        <input type="text" class="form-control" [(ngModel)]="model.tenChucDanh" name="tenPhongBan"
                            required [disabled]="isView">
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group ">
                    <label class="form-label">Tên đơn vị <span class='text-danger text-strong'>&nbsp;*</span></label>
                    <div class="controls">
                        <ng-select [items]="lstDonVi" bindLabel="name" bindValue="id" [(ngModel)]="model.idDonVi"
                            name="tendonvi" (change)="getPhongBan()" required [disabled]="isView"></ng-select>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group ">
                    <label class="form-label">Tên phòng ban <span class='text-danger text-strong'>&nbsp;*</span></label>
                    <div class="controls">
                        <ng-select [items]="lstPhongBan" bindLabel="name" bindValue="id" [(ngModel)]="model.idPhongBan"
                            name="tenphongban" required [disabled]="isView"></ng-select>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="form-label">Lương cơ bản (VNĐ)<span class='text-danger text-strong'>&nbsp;*</span></label>
                    <div class="controls">
                        <input type="text" class="form-control" [(ngModel)]="soTien" name="soTien"
                            (input)="formatMoney($event)" required [disabled]="isView"
                            oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <ng-container>
        <button type="button" class="btn btn-success" [disabled]="!f.form.valid" *appUipermission="['F1170']"
            (click)="save(false)">
            <i class="fa fa-save"></i>&nbsp;
            <span>{{'SharedLabel.Save' | translate}}</span>
        </button>
    </ng-container>
    <ng-container *ngIf="!id">
        <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="save(true)">
            <i class="fa fa-save"></i>&nbsp;
            <span>{{'SharedLabel.SaveAndContinue' | translate}}</span>
        </button>
    </ng-container>
    <button type="button" class="btn btn-danger" (click)="closeModal(false)">
        <i class="fa fa-power-off"></i> &nbsp;
        <span>{{'SharedLabel.Close' | translate}}</span>
    </button>
</div>