<div class="modal-header">
    <h4 class="modal-title text-uppercase">{{'User.ChangePassword' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal(true)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="padding: 15px">
    <form name="form" class="tab-form-demo" #f="ngForm" autocomplete="off">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" *ngIf="!ischange">
                <div class="form-group ">
                    <label class="form-label">{{'User.PasswordOld' | translate}}
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label>
                    <div class="controls">
                        <div class="input-group mb-2">
                            <input type="{{showMKCu ? 'text' : 'password'}}"
                                class="form-control" maxlength="32" [(ngModel)]="model.MatKhauCu" method="post"
                                autocomplete="off" name="Cu" required placeholder="{{'User.PasswordOld' | translate}}">
                            <div class="input-group-prepend">
                                <div class="input-group-text" (click)="toggleMK(1)">
                                    <i class="fas icon-last" [ngClass]="{'fa-eye-slash': !showMKCu,'fa-eye': showMKCu}"
                                        style="color: #839CB0;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="form-group ">
                    <label class="form-label">{{'User.PasswordNew' | translate}}
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label>
                    <div class="controls">
                        <div class="input-group mb-2">
                            <input [formControl]="passwordNew" type="{{showMKMoi ? 'text' : 'password'}}"
                                class="form-control" maxlength="32" [(ngModel)]="model.MatKhauMoi" method="post"
                                autocomplete="off" name="Moi" required placeholder="{{'User.PasswordNew' | translate}}">
                            <div class="input-group-prepend">
                                <div class="input-group-text" (click)="toggleMK(2)">
                                    <i class="fas icon-last"
                                        [ngClass]="{'fa-eye-slash': !showMKMoi,'fa-eye': showMKMoi}"
                                        style="color: #839CB0;"></i>
                                </div>
                            </div>
                        </div>
                        <div  class="form-label text-danger" *ngIf="passwordNew.invalid && (passwordNew.dirty || passwordNew.touched)">
                            <div *ngIf="passwordNew.errors.required">Vui lòng nhập mật khẩu.</div>
                            <div *ngIf="passwordNew.errors.minlength">Mật khẩu phải có ít nhất 6 ký tự.
                            </div>
                            <div *ngIf="passwordNew.errors.pattern">Mật khẩu phải chứa ít nhất một chữ hoa,
                                một chữ thường và một chữ số.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="form-group form-group-custom">
                    <label class="form-label">{{'User.EnterPassword' | translate}}
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label>
                    <div class="controls">
                        <div class="input-group mb-2">
                            <input [formControl]="enterPassword" type="{{showMKXN ? 'text' : 'password'}}"
                                class="form-control" maxlength="32" [(ngModel)]="model.XacNhanMatKhauMoi" method="post"
                                autocomplete="off" name="con" required
                                placeholder="{{'User.EnterPassword' | translate}}">
                            <div class="input-group-prepend">
                                <div class="input-group-text" (click)="toggleMK(3)">
                                    <i class="fas icon-last toggle-password"
                                        [ngClass]="{'fa-eye-slash': !showMKXN,'fa-eye': showMKXN}"
                                        style="color: #839CB0;"></i>
                                </div>
                            </div>
                        </div>
                        <div  class="form-label text-danger" *ngIf="enterPassword.invalid && (enterPassword.dirty || enterPassword.touched)">
                            <div *ngIf="enterPassword.errors.required">Vui lòng nhập mật khẩu.</div>
                            <div *ngIf="enterPassword.errors.minlength">Mật khẩu phải có ít nhất 6 ký tự.
                            </div>
                            <div *ngIf="enterPassword.errors.pattern">Mật khẩu phải chứa ít nhất một chữ hoa,
                                một chữ thường và một chữ số.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">
                <i *ngIf="!passwordNew.invalid && !enterPassword.invalid && model.MatKhauMoi!='' && model.XacNhanMatKhauMoi!='' && model.XacNhanMatKhauMoi != model.MatKhauMoi"
                    class="fas fa-exclamation-triangle" style="color: red"> {{'Message.MSG0033' | translate}}</i>

            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success"
        [disabled]="!f.form.valid || model.XacNhanMatKhauMoi != model.MatKhauMoi || passwordNew.invalid || enterPassword.invalid" 
        (click)="ConfirmChangePassword()">
        <i class="fa fa-save"></i>&nbsp;
        <span>{{'Lưu' | translate}}</span>
    </button>
    <button type="button" class="btn btn-danger" (click)="closeModal(false)">
        <i class="fa fa-power-off"></i> &nbsp;
        <span>
            {{'Đóng' | translate}}
        </span>
    </button>
</div>