<div class="modal-header">
    <h4 class="modal-title text-uppercase">{{modalInfo.Title}}</h4>
    <a href="javascript:void(0)" class="close_modal" type="button" class="close" aria-label="Close"
        (click)="closeModal(false)">
        <span aria-hidden="true">&times;</span>
    </a>
</div>
<div class="modal-body padding-15">
    <form name="form" #f="ngForm">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group ">
                    <label class="form-label">Mã đơn vị
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label>
                    <div class="controls">
                        <input type="text" class="form-control" [(ngModel)]="model.maDonVi" name="maDonVi" required>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group ">
                    <label class="form-label">Tên đơn vị
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label>
                    <div class="controls">
                        <input type="text" class="form-control" [(ngModel)]="model.tenDonVi" name="tenDonVi" required>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group ">
                    <label class="form-label">Đơn vị cha<span class='text-danger text-strong'>&nbsp;</span>
                    </label>
                    <div class="controls">
                        <ng-select [items]="lstDonVi" bindLabel="tenDonVi" bindValue="id" [(ngModel)]="model.parentId"
                            name="tendonvicha"></ng-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label class="form-label">Mô tả</label>
                    <div class="controls">
                        <textarea class="form-control" [(ngModel)]="model.moTa" name="moTa" cols="30"
                            rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <ng-container>
        <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="save(false)">
            <i class="fa fa-save"></i>&nbsp;
            <span>{{'Lưu' | translate}}</span>
        </button>
    </ng-container>
    <ng-container>
        <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="save(true)">
            <i class="fa fa-save"></i>&nbsp;
            <span>{{'Lưu và tiếp tục' | translate}}</span>
        </button>
    </ng-container>
    <button type="button" class="btn btn-danger" (click)="closeModal(false)">
        <i class="fa fa-power-off"></i> &nbsp;
        <span>
            {{'Đóng' | translate}}
        </span>
    </button>
</div>