<div class="tool-search">
  <form (submit)="search(); p.close();" class="form-search">
    <div class="show-item-search" *ngIf="_searchValues && _searchValues.length>0">
      <!-- <div style="white-space: nowrap;"> -->
      <!-- <span class="badge"><i class="fas fa-filter"></i>&nbsp; <b>{{_searchValues.length}}</b></span> -->
      <!-- <perfect-scrollbar class="ps-bordered" class="left-bar-scroll"> -->
      <!-- Code dùng <ul class="navbar list-inline">
        <li  class="dropdown">
          <a href="javascript:void(0)" data-toggle="dropdown"><span class="badge"><i class="fas fa-filter"></i>&nbsp;
              <b>{{_searchValues.length}}</b></span></a>
          <ul class="dropdown-menu">
            <ng-container *ngFor="let item of _searchValues; let i = index">
              <li>
                <span>{{item.Name}}: {{item.Value}} <i *appUipermission="_searchItems[item.Index].Permission"
                    (click)="removeSearch(i, item.Index)" class="fas fa-times" placement="bottom"></i></span>
              </li>
            </ng-container>
          </ul>
        </li>
      </ul> -->
      <!-- </perfect-scrollbar> -->
      <!-- </div> -->
    </div>
    <div class="body-search">
      <div class="content-search">
        <div class="input-group">
          <input [disUipermission]="_options.Permission" type="text" class="form-control input-content-search"
            style="height: 40px;padding-left: 12px;" name="Code"
            [(ngModel)]="_searchModelView[_options.FieldContentName]"
            placeholder="{{_options.Placeholder?_options.Placeholder:'Nội dung tìm kiếm'}}"
            (change)="searchContentChange(_options.FieldContentName)" aria-describedby="buttonSearch"
            placement="bottom-right" [ngbPopover]="popContent" #p="ngbPopover" [popoverTitle]="popTitle"
            [popoverClass]="'nts-popover-body'" [container]="'body'" [autoClose]="false" triggers="manual">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-filter text-center" (click)="showPopover(p)" id="buttonSearch">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <ng-template #popTitle>Bộ lọc
    <a href="javascript:void(0)" class="close_modal" type="button" class="close" aria-label="Close" style="font-size: 18px;
    background-color: #839CB0;
    height: 18px;
    border-radius: 50px;
    width: 18px;
    text-align: center;
    vertical-align: middle;
    line-height: 14px;color:#ffffff;margin-right: 5px;" (click)="p.close();">
      <span aria-hidden="true">&times;</span>
    </a>
  </ng-template>
  <ng-template #popContent>
    <form>
      <ng-container *ngFor="let option of _options.Items; let i = index">
        <ng-container *ngIf="!option.Hidden">
          <ng-container *ngIf="option.Type=='text'">
            <!-- <div class="form-group" *ngIf="_searchItems[i].Checked"> -->
            <div class="form-group">
              <label class="form-label">{{option.Name}}</label>
              <div class="controls">
                <input [disUipermission]="option.Permission" type="text" class="form-control" [name]="option.FieldName"
                  [(ngModel)]="_searchModelView[option.FieldName]" [placeholder]="option.Placeholder"
                  (change)="textChange(i, option.FieldName)">
              </div>
              <!-- <span *appUipermission="option.Permission" class="remove" (click)="removeItem(i)" placement="bottom"
              ngbTooltip="Xóa"><i class="fas fa-trash-alt"></i></span> -->
            </div>
          </ng-container>
          <ng-container *ngIf="option.Type=='number'">
            <!-- <div class="form-group" *ngIf="_searchItems[i].Checked"> -->
            <div class="form-group">
              <label class="form-label">{{option.Name}}
              </label>
              <div class="controls d-flex">
                <select class="form-control expression-type" [name]="option.FieldName"
                  [(ngModel)]="_searchModelView[option.FieldNameType]"
                  (change)="selectChangeExpressionType($event, i, option.FieldName)">
                  <option *ngFor="let row of constants.SearchExpressionTypes" [ngValue]="row.Id">{{row.Name}}</option>
                </select>
                <input type="text" currencyMask class="form-control" [name]="option.FieldName"
                  [(ngModel)]="_searchModelView[option.FieldName]" [placeholder]="option.Placeholder"
                  (ngModelChange)="numberChange(i, option.FieldName, option.FieldNameType)">
              </div>
              <!-- <span class="remove" (click)="removeItem(i)" placement="bottom" ngbTooltip="Xóa"><i
                class="fas fa-trash-alt"></i></span> -->
            </div>
          </ng-container>
          <ng-container *ngIf="option.Type=='numberYear'">
            <!-- <div class="form-group" *ngIf="_searchItems[i].Checked"> -->
            <div class="form-group">
              <label class="form-label">{{option.Name}}
              </label>
              <div class="controls d-flex">
                <input type="text" ntsNumberInt class="form-control" [name]="option.FieldName"
                  [(ngModel)]="_searchModelView[option.FieldName]" [placeholder]="option.Placeholder"
                  (ngModelChange)="numberChangeYear(i, option.FieldName)">
              </div>
              <!-- <span class="remove" (click)="removeItem(i)" placement="bottom" ngbTooltip="Xóa"><i
                class="fas fa-trash-alt"></i></span> -->
            </div>
          </ng-container>
          <ng-container *ngIf="option.Type=='select'">
            <!-- <div class="form-group" *ngIf="_searchItems[i].Checked"> -->
            <div class="form-group">
              <label class="form-label">{{option.Name}}
              </label>
              <div class="controls">
                <select [disUipermission]="option.Permission" class="form-control" [name]="option.FieldName"
                  [(ngModel)]="_searchModelView[option.FieldName]" (change)="selectChange($event, i, option.FieldName)">
                  <option value="">Tất cả</option>
                  <option *ngFor="let row of option.Data" [ngValue]="row[option.ValueName]">{{row[option.DisplayName]}}
                  </option>
                </select>
              </div>
              <!-- <span *appUipermission="option.Permission" class="remove" (click)="removeItem(i)" placement="bottom"
              ngbTooltip="Xóa"><i class="fas fa-trash-alt"></i></span> -->
            </div>
          </ng-container>
          <ng-container *ngIf="option.Type=='ngselect'">
            <!-- <div class="form-group" *ngIf="_searchItems[i].Checked"> -->
            <div class="form-group">
              <label class="form-label">{{option.Name}}
              </label>
              <div class="controls">
                <ng-select [disUipermission]="option.Permission" [items]=" option.Data" [name]="option.FieldName"
                  [bindLabel]="option.DisplayName" [bindValue]="option.ValueName"
                  [(ngModel)]="_searchModelView[option.FieldName]"
                  (change)="ngSelectChange($event, i, option.ValueName, option.DisplayName)">
                </ng-select>
              </div>
              <!-- <span *appUipermission="option.Permission" class="remove" (click)="removeItem(i)" placement="bottom"
              ngbTooltip="Xóa"><i class="fas fa-trash-alt"></i></span> -->
            </div>
          </ng-container>
          <ng-container *ngIf="option.Type=='date'">
            <!-- <div class="form-group" *ngIf="_searchItems[i].Checked"> -->
            <div class="form-group">
              <label class="form-label">{{option.Name}}
              </label>
              <div class="controls date">
                <div class="input-group">
                  <input [disUipermission]="option.Permission" class="form-control" [name]="option.FieldNameFrom"
                    [(ngModel)]="_searchModelView[option.FieldNameFrom]" ngbDatepicker #dateFrom="ngbDatepicker"
                    placeholder="Từ ngày" (click)="dateFrom.toggle();$event.stopPropagation();" container="'body'"
                    (ngModelChange)="dateChange(i,option.FieldNameFrom,option.FieldNameTo)" placement="bottom-right">
                </div>
                <span>-</span>
                <div class="input-group">
                  <input [disUipermission]="option.Permission" class="form-control" [name]="option.FieldNameTo"
                    [(ngModel)]="_searchModelView[option.FieldNameTo]" ngbDatepicker #dateTo="ngbDatepicker"
                    placeholder="Đến ngày" (click)="dateTo.toggle();$event.stopPropagation();" container="'body'"
                    (ngModelChange)="dateChange(i,option.FieldNameFrom,option.FieldNameTo)" placement="bottom-right">
                </div>
              </div>
              <!-- <span *appUipermission="option.Permission" class="remove" (click)="removeItem(i)" placement="bottom"
              ngbTooltip="Xóa"><i class="fas fa-trash-alt"></i></span> -->
            </div>
          </ng-container>
          <ng-container *ngIf="option.Type=='dateRange'">
            <!-- <div class="form-group" *ngIf="_searchItems[i].Checked"> -->
            <div class="form-group">
              <label class="form-label">{{option.Name}}
              </label>
              <div class="controls date">
                <div class="input-group">
                  <input [disUipermission]="option.Permission" class="form-control" [name]="option.FieldNameFrom"
                    [(ngModel)]="_searchModelView[option.FieldNameFrom]" placeholder="Từ năm" container="'body'"
                    type="number" min="0" max="9999"
                    (ngModelChange)="dateRangeChange(i,option.FieldNameFrom,option.FieldNameTo)"
                    placement="bottom-right">
                </div>
                <span>-</span>
                <div class="input-group">
                  <input [disUipermission]="option.Permission" class="form-control" [name]="option.FieldNameTo"
                    [(ngModel)]="_searchModelView[option.FieldNameTo]" placeholder="Đến năm" container="'body'"
                    type="number" min="0" max="9999"
                    (ngModelChange)="dateRangeChange(i,option.FieldNameFrom,option.FieldNameTo)"
                    placement="bottom-right">
                </div>
              </div>
              <!-- <span *appUipermission="option.Permission" class="remove" (click)="removeItem(i)" placement="bottom"
              ngbTooltip="Xóa"><i class="fas fa-trash-alt"></i></span> -->
            </div>
          </ng-container>
          <!-- <ng-container *ngIf="option.Type=='dropdown'">
          <div class="form-group" *ngIf="_searchItems[i].Checked">
            <label class="form-label">{{option.Name}}
            </label>
            <div class="controls">
              <nts-drop-down [disUipermission]="option.Permission" [items]="option.Data" [columns]="option.Columns"
                [ntsLabel]="option.DisplayName" [ntsValue]="option.ValueName" [ntsMode]="option.SelectMode"
                [placeholder]="option.Placeholder" [(ngModel)]="_searchModelView[option.FieldName]" ntsAutoClose="true"
                (change)="dropdownChange(i)" [name]="option.FieldName">
              </nts-drop-down>
            </div>
            <span *appUipermission="option.Permission" class="remove" (click)="removeItem(i)" placement="bottom"
              ngbTooltip="Xóa"><i class="fas fa-trash-alt"></i></span>
          </div>
        </ng-container> -->
          <!-- <ng-container *ngIf="option.Type=='dropdowntree'">
          <div class="form-group" *ngIf="_searchItems[i].Checked">
            <label class="form-label">{{option.Name}}
            </label>
            <div class="controls">
              <nts-drop-down-tree [disUipermission]="option.Permission" [items]="option.Data" [columns]="option.Columns"
                [ntsParentId]="option.ParentId" [ntsLabel]="option.DisplayName" [ntsValue]="option.ValueName"
                [ntsMode]="option.SelectMode" [placeholder]="option.Placeholder"
                [(ngModel)]="_searchModelView[option.FieldName]" ntsAutoClose="true" (change)="dropdownChange(i)"
                [name]="option.FieldName">
              </nts-drop-down-tree>
            </div>
            <span *appUipermission="option.Permission" class="remove" (click)="removeItem(i)" placement="bottom"
              ngbTooltip="Xóa"><i class="fas fa-trash-alt"></i></span>
          </div>
        </ng-container> -->
        </ng-container>
      </ng-container>
      <div class="search">
        <!-- <select *ngIf="count < _searchItems.length" class="custom-select mr-sm-2" name="_searchItemId"
          (change)="searchItemChange($event)">
          <option value="" selected>Chọn điều kiện lọc...</option>
          <ng-container *ngFor="let row of _searchItems">
            <option *ngIf="!row.Checked" [value]="row.Id">{{row.Name}}</option>
          </ng-container>
        </select> -->
        <ng-container>
          <div class="row">
            <div class="col-xl-6 col-md-6 col-lg-6 col-sm-6">
              <button class="btn btn-secondary" style="width:100%" (click)="refresh();">
                <i class="fas fa-sync-alt"></i>&nbsp;Làm mới</button>
            </div>
            <div class="col-xl-6 col-md-6 col-lg-6 col-sm-6">
              <button class="btn btn-success" style="width:100%" (click)="search(); p.close();">
                <i class="fa fa-search"></i> &nbsp;Tìm kiếm</button>
            </div>
          </div>
          <!-- <button class="btn btn-danger" (click)="p.close();">
            <i class="fa fa-times"></i> &nbsp;Đóng</button> -->
        </ng-container>
      </div>
    </form>
  </ng-template>
</div>