<div class="modal-header">
    <h5 class="modal-title text-uppercase">{{thongTinPopup.Tieude}}</h5>
    <a href="javascript:void(0)" class="close_modal" type="button" class="close" aria-label="Close"
        (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </a>
</div>
<div class="modal-body padding-15">
    <form name="form" #f="ngForm" method="post">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="step==1">
                <div class="form-group">
                    <label class="form-label">Email
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label>
                    <div class="controls">
                        <input type="text" class="form-control" name="diachihopthu" [(ngModel)]="diachihopthu" maxlength="500" method="post"
                            required>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="step==2">
                <div class="form-group">
                    <label class="form-label">OTP
                        <span class='text-danger text-strong'>&nbsp;*</span>
                    </label>
                    <div class="controls">
                        <input type="password" class="form-control" name="maxacnhan" [(ngModel)]="maxacnhan" maxlength="6" required method="post">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <ng-container *ngIf="step==1">
        <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="LayMaXacNhan()">
            <i class="fa fa-save"></i>&nbsp;
            <span>{{thongTinPopup.LuuTxt}}</span>
        </button>
    </ng-container>
    <ng-container *ngIf="step==2">
        <button type="button" class="btn btn-success" [disabled]="!f.form.valid" (click)="QuenMatKhau()">
            <i class="fa fa-save"></i>&nbsp;
            <span>{{thongTinPopup.LuuTxt}}</span>
        </button>
    </ng-container>
    <button type="button" class="btn btn-danger" (click)="closeModal()">
        <i class="fa fa-power-off"></i> &nbsp;
        <span>
            Đóng
        </span>
    </button>
</div>